In [125]:
import pandas as pd
import string
import pickle as pkl


df = pd.read_csv("data_w_subj.csv",index_col=0)
df.head()

,author_id,author_name,book_id,gutenbergbookid,title,text,text_lines,subjects
0,5959,"Sharkey, John Michael",3670,33871,Old Friends Are the Best,"['', '', '', 'CHAPTER VIII.', '', 'JAMES TRIPL...",3693,"['Science fiction', ' Short stories']"
1,5959,"Sharkey, John Michael",3670,33871,Old Friends Are the Best,"['life;"" and her shoulders went up to her ears...",1643,"['Science fiction', ' Short stories']"
2,5959,"Sharkey, John Michael",3670,33871,Old Friends Are the Best,"['various talents, and are come to make a dema...",4143,"['Science fiction', ' Short stories']"
3,5959,"Sharkey, John Michael",3670,33871,Old Friends Are the Best,"['would be a lasting discredit,"" she continued...",3393,"['Science fiction', ' Short stories']"
4,5959,"Sharkey, John Michael",3670,33871,Old Friends Are the Best,['homely which he invented in our first chapte...,2693,"['Science fiction', ' Short stories']"

In [128]:
# Remove punctuation from "text" column
df["text"] = df["text"].str.replace('[{}]'.format(string.punctuation), '')

# Display updated DataFrame
df.head(50)

with open("data.pkl", "rb") as f:
    pickle_data = pkl.load(f)

/var/folders/85/r09_fk416jl6_f2ypbf46jc40000gn/T/ipykernel_45632/4025868173.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["text"] = df["text"].str.replace('[{}]'.format(string.punctuation), '')

In [108]:
df.columns

Index(['author_id', 'author_name', 'book_id', 'gutenbergbookid', 'title',
       'text', 'text_lines', 'subjects'],
      dtype='object')

In [109]:
# # Remove "Unnamed: 0" and "text_lines" columns
# df1=df.drop(['Unnamed: 0', 'text_lines'], axis=1)
# df1

In [110]:

# Group by book id and concatenate text column
df2 = df1.groupby(['book_id', 'author_id', 'author_name', 'gutenbergbookid', 'title', 'subjects'])['text'].apply(' '.join).reset_index()

# Display DataFrame
df2.to_csv('data_merge.csv',index=False)
df2

,book_id,author_id,author_name,gutenbergbookid,title,subjects,text
0,1107,2254,"Eastman, Charles A.",336,Indian Heroes and Great Chieftains,"['Heroes', ' Indians of North America -- Biogr...",I will to Venice Sunday comes apace We...
1,1217,2433,"Aubigné, J. H. Merle d' (Jean Henri Merle)",40971,History of the Great Reformation of the Sixtee...,['Reformation'],leads seductively to the farmsteadin or we fel...
2,1658,3115,"Coppée, François",3962,A Romance of Youth — Complete,"['Paris (France) -- Fiction', ' French fiction...",not deceive you as well as myself in my enthus...
3,1927,3459,"Lantz, D. E. (David Ernest)",35542,House Rats and Mice,"['Mice', ' Rats']",The affair was settled The young people parte...
4,2000,3554,"Parrott, J. Edward",35314,"The Childrens' Story of the War, Volume 2 (of ...","['World War, 1914-1918 -- Juvenile literature']",de viejo y de manco como si hubiera sido en mi...
...,...,...,...,...,...,...,...
246,69150,16267,"Budge, E. A. Wallis (Ernest Alfred Wallis), Sir",9411,"Legends of the Gods\r\nThe Egyptian Texts, edi...",['Egyptian literature -- Translations into Eng...,settlement with a destiny of greatness here in...
247,69582,2433,"Aubigné, J. H. Merle d' (Jean Henri Merle)",61277,History of the Reformation in Europe in the Ti...,['Reformation'],“September 22—The walls are mounted with c...
248,69954,14477,"Dowling, R. (Richard)",42496,Miracle Gold: A Novel (Vol. 2 of 3),['Fiction'],that of his father who wholly unmanned at the ...
249,69981,4574,"Whishaw, Frederick J.",36341,"Gunpowder Treason and Plot, and Other Stories ...","['Short stories', "" Children's stories"", ' Adv...",famiglia di esso97 Sisto IV riuscì ancora a r...
250,70134,11563,"Child, L. Maria (Lydia Maria)",38479,The Freedmen's Book,"['African Americans', ' African Americans -- B...",refrain from thanksgiving that one perfect typ...

In [111]:
df2.columns

Index(['book_id', 'author_id', 'author_name', 'gutenbergbookid', 'title',
       'subjects', 'text'],
      dtype='object')

In [112]:
# import nltk
#
# nltk.download('punkt')

In [113]:
# Load CSV file
df = pd.read_csv('data_merge.csv')
df

,book_id,author_id,author_name,gutenbergbookid,title,subjects,text
0,1107,2254,"Eastman, Charles A.",336,Indian Heroes and Great Chieftains,"['Heroes', ' Indians of North America -- Biogr...",I will to Venice Sunday comes apace We...
1,1217,2433,"Aubigné, J. H. Merle d' (Jean Henri Merle)",40971,History of the Great Reformation of the Sixtee...,['Reformation'],leads seductively to the farmsteadin or we fel...
2,1658,3115,"Coppée, François",3962,A Romance of Youth — Complete,"['Paris (France) -- Fiction', ' French fiction...",not deceive you as well as myself in my enthus...
3,1927,3459,"Lantz, D. E. (David Ernest)",35542,House Rats and Mice,"['Mice', ' Rats']",The affair was settled The young people parte...
4,2000,3554,"Parrott, J. Edward",35314,"The Childrens' Story of the War, Volume 2 (of ...","['World War, 1914-1918 -- Juvenile literature']",de viejo y de manco como si hubiera sido en mi...
...,...,...,...,...,...,...,...
246,69150,16267,"Budge, E. A. Wallis (Ernest Alfred Wallis), Sir",9411,"Legends of the Gods\r\nThe Egyptian Texts, edi...",['Egyptian literature -- Translations into Eng...,settlement with a destiny of greatness here in...
247,69582,2433,"Aubigné, J. H. Merle d' (Jean Henri Merle)",61277,History of the Reformation in Europe in the Ti...,['Reformation'],“September 22—The walls are mounted with c...
248,69954,14477,"Dowling, R. (Richard)",42496,Miracle Gold: A Novel (Vol. 2 of 3),['Fiction'],that of his father who wholly unmanned at the ...
249,69981,4574,"Whishaw, Frederick J.",36341,"Gunpowder Treason and Plot, and Other Stories ...","['Short stories', "" Children's stories"", ' Adv...",famiglia di esso97 Sisto IV riuscì ancora a r...
250,70134,11563,"Child, L. Maria (Lydia Maria)",38479,The Freedmen's Book,"['African Americans', ' African Americans -- B...",refrain from thanksgiving that one perfect typ...

In [114]:
import nltk
# Tokenize the 'text' column using NLTK
tokenizer = nltk.tokenize.word_tokenize
df['text_tokenized'] = df['text'].apply(tokenizer)

# Print the first 10 rows of the DataFrame with tokenized text

df.to_csv('data_merge1.csv',index=False)
df.head(10)

,book_id,author_id,author_name,gutenbergbookid,title,subjects,text,text_tokenized
0,1107,2254,"Eastman, Charles A.",336,Indian Heroes and Great Chieftains,"['Heroes', ' Indians of North America -- Biogr...",I will to Venice Sunday comes apace We...,"[I, will, to, Venice, Sunday, comes, apace, We..."
1,1217,2433,"Aubigné, J. H. Merle d' (Jean Henri Merle)",40971,History of the Great Reformation of the Sixtee...,['Reformation'],leads seductively to the farmsteadin or we fel...,"[leads, seductively, to, the, farmsteadin, or,..."
2,1658,3115,"Coppée, François",3962,A Romance of Youth — Complete,"['Paris (France) -- Fiction', ' French fiction...",not deceive you as well as myself in my enthus...,"[not, deceive, you, as, well, as, myself, in, ..."
3,1927,3459,"Lantz, D. E. (David Ernest)",35542,House Rats and Mice,"['Mice', ' Rats']",The affair was settled The young people parte...,"[The, affair, was, settled, The, young, people..."
4,2000,3554,"Parrott, J. Edward",35314,"The Childrens' Story of the War, Volume 2 (of ...","['World War, 1914-1918 -- Juvenile literature']",de viejo y de manco como si hubiera sido en mi...,"[de, viejo, y, de, manco, como, si, hubiera, s..."
5,2532,4395,"Robins, Elizabeth",10038,The Magnetic North,['Yukon -- Fiction'],dark and gloomy enough but everything was so s...,"[dark, and, gloomy, enough, but, everything, w..."
6,2760,4711,"Hoffmann, E. T. A. (Ernst Theodor Amadeus)",31377,Weird Tales. Vol. 1 (of 2),"['Fantasy fiction, German -- Translations into...",become of the order I had just written for it ...,"[become, of, the, order, I, had, just, written..."
7,2804,3459,"Lantz, D. E. (David Ernest)",34437,Methods of Destroying Rats,['Rats -- Control'],outgrow that sort of thing and are good fellow...,"[outgrow, that, sort, of, thing, and, are, goo..."
8,3022,5061,"Elliott, William",64181,Rocket Summer,"['Science fiction', ' Short stories', ' Space ...",skeerce on our side Well have to begin buyin p...,"[skeerce, on, our, side, Well, have, to, begin..."
9,3670,5959,"Sharkey, John Michael",33871,Old Friends Are the Best,"['Science fiction', ' Short stories']",CHAPTER VIII JAMES TRIPLET water in his ey...,"[CHAPTER, VIII, JAMES, TRIPLET, water, in, his..."

In [115]:
import pandas as pd
import numpy as np
import nltk
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
import gensim
from gensim import corpora, models

In [116]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load the CSV file into a DataFrame
df = pd.read_csv('data_merge1.csv')

# Split the 'text' column into  70% train set, 20% test set, and 10% validation set
train_data, temp_data = train_test_split(df['text_tokenized'], test_size=0.3, random_state=42)
test_data, val_data = train_test_split(temp_data, test_size=0.3333, random_state=42)

# Check the sizes of the train, test, and validation sets
# print(f'Train set size: {len(train_data)}')
# print(f'Test set size: {len(test_data)}')
# print(f'Validation set size: {len(val_data)}')
train_data

186    ['I', 'was', 'only', 'kinder', 'lookin\\', 'hi...
29     ['companions', 'as', 'if', 'in', 'thus', 'witn...
127    ['contribua', 'puissamment', 'à', 'développer'...
142    ['But', 'never', 'a', 'one', 'forbade', 'the',...
147    ['just', 'as', 'Christopher', 'opened', 'the',...
                             ...
106    ['Augusta', 'And', 'always', 'with', 'such', '...
14     ['was', 'the', 'first', 'conscious', 'action',...
92     ['to', 'me', 'and', 'perhaps', 'as', 'Gertrude...
179    ['From', 'analogy', 'with', 'the', 'dimorphism...
102    ['which', 'being', 'high', 'above', 'the', 'gr...
Name: text_tokenized, Length: 175, dtype: object

In [117]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
import gensim

# Create a CountVectorizer vectorizer
vectorizer = CountVectorizer()

# Convert the text data into a bag-of-words model using the vectorizer
train_corpus = vectorizer.fit_transform(train_data)
test_corpus = vectorizer.transform(test_data)
val_corpus = vectorizer.transform(val_data)

# Convert the input corpus to the correct format
train_corpus = gensim.matutils.Sparse2Corpus(train_corpus, documents_columns=False)
test_corpus = gensim.matutils.Sparse2Corpus(test_corpus, documents_columns=False)
val_corpus = gensim.matutils.Sparse2Corpus(val_corpus, documents_columns=False)

# Train an LDA model using Gensim
num_topics = 10
id2word = dict((v, k) for k, v in vectorizer.vocabulary_.items())
lda_model = gensim.models.LdaModel(
    corpus=train_corpus,
    id2word=id2word,
    num_topics=num_topics
)

# Print the topics of the LDA model
for i in range(num_topics):
    print(f'Topic {i}: {lda_model.print_topic(i)}')

Topic 0: 0.059*"the" + 0.024*"of" + 0.020*"and" + 0.017*"to" + 0.012*"in" + 0.010*"it" + 0.010*"was" + 0.007*"he" + 0.007*"that" + 0.007*"is"
Topic 1: 0.049*"the" + 0.025*"of" + 0.022*"to" + 0.017*"in" + 0.016*"and" + 0.013*"that" + 0.010*"was" + 0.008*"it" + 0.008*"his" + 0.007*"he"
Topic 2: 0.048*"the" + 0.025*"and" + 0.020*"to" + 0.018*"of" + 0.010*"it" + 0.008*"you" + 0.008*"that" + 0.007*"in" + 0.007*"was" + 0.006*"he"
Topic 3: 0.052*"the" + 0.034*"of" + 0.024*"and" + 0.019*"to" + 0.017*"in" + 0.010*"that" + 0.010*"was" + 0.008*"as" + 0.007*"with" + 0.007*"for"
Topic 4: 0.053*"the" + 0.029*"of" + 0.024*"and" + 0.020*"to" + 0.020*"in" + 0.009*"that" + 0.009*"it" + 0.008*"was" + 0.008*"he" + 0.007*"as"
Topic 5: 0.048*"the" + 0.027*"and" + 0.027*"of" + 0.018*"to" + 0.013*"in" + 0.009*"it" + 0.008*"his" + 0.008*"was" + 0.007*"de" + 0.007*"he"
Topic 6: 0.057*"the" + 0.030*"and" + 0.029*"of" + 0.017*"to" + 0.014*"in" + 0.010*"it" + 0.008*"was" + 0.007*"that" + 0.007*"is" + 0.006*"he"
Topic 7: 0.029*"the" + 0.025*"of" + 0.020*"and" + 0.019*"to" + 0.012*"in" + 0.008*"that" + 0.006*"was" + 0.006*"is" + 0.006*"it" + 0.005*"with"
Topic 8: 0.035*"the" + 0.020*"and" + 0.020*"to" + 0.019*"of" + 0.011*"he" + 0.011*"in" + 0.010*"was" + 0.009*"his" + 0.008*"that" + 0.006*"it"
Topic 9: 0.070*"the" + 0.037*"and" + 0.031*"of" + 0.027*"to" + 0.018*"in" + 0.012*"that" + 0.011*"was" + 0.010*"he" + 0.009*"is" + 0.009*"with"

In [118]:
# #tokenize the text in the "text" column of your CSV file, create a dictionary from the tokens, convert the dictionary to a bag-of-words corpus, build an LDA model with 10 topics, and print the top 10 words for each topic.
# # Tokenize the text
# text_tokens = [nltk.word_tokenize(text) for text in df['text']]
#
# # Create a dictionary from the tokens
# dictionary = corpora.Dictionary(text_tokens)
#
# # Convert the dictionary to a bag-of-words corpus
# corpus = [dictionary.doc2bow(text) for text in text_tokens]
#
# # Build the LDA model with 10 topics
# lda_model = models.LdaModel(corpus=corpus, num_topics=10, id2word=dictionary)
#
# # Get the top 10 words for each topic
# topics = lda_model.show_topics(num_topics=10, num_words=10)
#
# # Print the topics and their top words
#
# for topic in topics:
#     print('Topic {}: {}'.format(topic[0], topic[1]))

In [119]:
# import pandas as pd
# import gensim
# from gensim.models import Word2Vec
# # Train a Word2Vec model on the tokenized text data
# model = Word2Vec(df['text_tokenized'], vector_size=100, window=5, min_count=1, workers=4)
#
# # Get the embedding vector for a word
# print(model.wv['example'])
#
# # Get the most similar words to a given word
# print(model.wv.most_similar('example'))

In [120]:
import pandas as pd
import numpy as np
import nltk
from gensim.models import Word2Vec
# Tokenize the text
text_tokens = [nltk.word_tokenize(text) for text in df['text']]

# Train Word2Vec model on the tokenized text
model = Word2Vec(text_tokens, vector_size=100, window=5, min_count=1, workers=4)

# Get the word vector for a specific word
word = 'you'
vector = model.wv[word]

# Find the most similar words to a specific word
similar_words = model.wv.most_similar(word)

# Print the word vector and similar words
print("Word vector for '{}': {}".format(word, vector))
print("Most similar words to '{}': {}".format(word, similar_words))

Word vector for 'you': [-0.33246607  2.061229    3.7429538   0.36708248 -0.54400325  0.30874923
 -2.0482292  -0.04108502 -1.3013406  -1.381595    0.2597163  -2.135802
  1.9608499   0.07383339  1.5595703  -0.6370144   0.80238163 -5.831641
 -1.7482966   0.15242171  0.56533104  2.490944    1.8565134  -1.915224
 -3.2753887   4.114826   -2.653694   -2.8786058   0.2131806   1.9340245
  0.19727886 -1.7288474   0.2780676   1.0769267  -0.27857247  4.474182
  0.9553416   2.527838   -1.6132076  -0.7642555  -0.10037777  1.8386585
  0.60656494 -0.4381407   0.98112863 -1.6894246  -1.8381289  -1.4114068
  1.6505182  -1.2599083   1.1709257   2.4086277   1.0238482  -1.0027821
 -0.4123167  -0.6110545   2.061603    0.29129046  0.12432949 -2.5802424
 -1.6246967  -0.8752831  -0.6171249   1.5424997  -3.1260989   0.04186301
 -1.4393575  -2.42049    -3.8596349   3.1813376  -0.0677219   0.39380637
 -0.05801463 -0.3997413  -0.29837593 -0.3451092  -1.1657854  -3.1767797
 -2.578528    2.4943798  -2.885264   -3.057834   -0.6168643   2.3517036
 -1.5058041   1.5562394  -2.870252    1.6217525  -1.4459629   2.7031906
 -0.18296677 -1.5744791  -2.2341      0.08605621  2.7927344   2.9098337
  1.9608066   0.7315154  -1.6470213   0.36392987]
Most similar words to 'you': [('You', 0.9456319212913513), ('I', 0.9117348790168762), ('care', 0.9059605598449707), ('thee', 0.8993147015571594), ('yourself', 0.8989881873130798), ('myself', 0.8988059163093567), ('Id', 0.8855832815170288), ('sir', 0.8830908536911011), ('God', 0.8801583647727966), ('sake', 0.8786418437957764)]

In [121]:
# # Tokenize the text data
# train_tokenized = [nltk.word_tokenize(text) for text in train_data]
# test_tokenized = [nltk.word_tokenize(text) for text in test_data]
# val_tokenized = [nltk.word_tokenize(text) for text in val_data]
#
# # Train a Word2Vec model on the tokenized text data
# model = Word2Vec(train_tokenized, min_count=1)
#
# # Get the vocabulary of the Word2Vec model
# vocab = model.wv.vocab.keys()
#
# # Get the word embeddings for each word in the vocabulary
# embeddings = []
# for word in vocab:
#     embedding = model.wv[word]
#     embeddings.append(embedding)
#
# # Print the word embeddings for the first 10 words in the vocabulary
# for i in range(10):
#     print(f'Word embedding for "{list(vocab)[i]}":\n{embeddings[i]}\n')