In [1]:
from gutenbergpy.gutenbergcache import GutenbergCache, GutenbergCacheTypes
import os
import json
import pandas as pd
import numpy as np
import pickle as pkl
import random
import gutenbergpy
import gutenbergpy.textget

In [2]:
# from gutenbergpy.gutenbergcache import GutenbergCache
# #for sqlite
# GutenbergCache.create(refresh=True, download=True, unpack=True, parse=True, cache=True, deleteTemp=True)

## Exploring the Data Distribution of Project Gutenberg
Our first step in developing a sampling approach is to determine what metadata is available and how best to create a rich, diverse sample for language modeling. We start by initializing the cache and looking at the schema:

In [3]:
cache  = GutenbergCache.get_cache()
# from IPython.display import Image
# Image(filename='sqlitescheme.png')

#### Types of Media

We want our sample to consist solely of text based media; however, the type field is not well maintained for the majority of the works on project gutenberg.

In [4]:
types = [t for t in cache.native_query("SELECT DISTINCT id, name FROM types")]
types

[(1, 'Sound'),
 (2, 'Image'),
 (3, 'Dataset'),
 (4, 'Collection'),
 (5, 'Text'),
 (6, 'MovingImage'),
 (7, 'StillImage')]

#### Gathering Bookshelves

Books on Project Gutenberg are sorted into collections called bookshelves; there are Main Categories each with their own Bookshelf ID; we are interested in English Language (Language.id = 1) text (type.id = 5) texts. However, it also seems that bookshelves themselves are not well populated in the metadata either, meaning a new approach is warranted.

In [5]:
shelves = [sh for sh in cache.native_query(
        "SELECT * FROM (" +
        "SELECT bs.id, bs.name, COUNT(b.id) as BOOK_COUNT FROM " +
        "(SELECT DISTINCT id, name FROM bookshelves) as bs " +    
        "RIGHT JOIN " + 
        "(SELECT id, bookshelveid, languageid, typeid FROM books " + 
        "WHERE languageid=1) as b " +
        "ON bs.id=b.bookshelveid) as bbs " +
        "GROUP BY bbs.id, bbs.name " + 
        "ORDER BY BOOK_COUNT DESC;")]

shelves

[(1, 'The Great Round World And What Is Going On In It', 56694)]

#### Subjects vs. Book Subjects In Project Gutenberg

In [6]:

# Retrieves all subjects

subjects = [s for s in cache.native_query(
    "SELECT bs.subjectid, s.name, count(bs.bookid) AS book_count FROM book_subjects AS bs \
    LEFT JOIN subjects AS s \
    ON s.id = bs.subjectid \
    GROUP BY s.id, s.name \
    ORDER BY book_count DESC \
    LIMIT 25;")]

# See the script "subjectid.sql" for a full listing of the actual subject names
subjects

[(44, 'PS', 11113),
 (10, 'PR', 10009),
 (13, 'PZ', 7282),
 (16, 'PQ', 4843),
 (28, 'PT', 2956),
 (80, 'Science fiction', 2938),
 (14, 'Short stories', 2748),
 (2, 'AP', 2584),
 (71, 'Fiction', 1979),
 (46, 'DA', 1663),
 (105, 'Adventure stories', 1475),
 (146, 'PH', 1379),
 (18, 'PN', 992),
 (79, 'DC', 961),
 (308, 'Historical fiction', 947),
 (91, 'DS', 943),
 (30, 'Conduct of life -- Juvenile fiction', 876),
 (158, 'Love stories', 858),
 (291, 'D501', 827),
 (192, 'Detective and mystery stories', 818),
 (51, 'Man-woman relationships -- Fiction', 809),
 (197, 'BX', 745),
 (29, 'Poetry', 681),
 (68, 'QH', 670),
 (242, 'QL', 670)]

#### Querying a Subject

Some of the subject titles aren't particularly informative; in order to get a better picture of what each subject is, we can query them individually to retrieve top downloads for each subject:

In [7]:
# Top N Downloads for subject ID:

top25 = [s for s in cache.native_query(
    "SELECT bs.subjectid, b.name, b.numdownloads FROM \
    (SELECT * FROM books \
     LEFT JOIN titles AS T \
     ON T.bookid = books.id) AS b \
    LEFT JOIN book_subjects AS bs \
    ON b.id = bs.bookid and bs.subjectid=44 \
    ORDER BY b.numdownloads DESC \
    LIMIT 25;")]

# See the script "subjectid.sql" for a full listing of the actual subject names

top25

[(None, 'Romeo and Juliet', 197127),
 (None, 'A Room with a View', 167726),
 (None, 'Middlemarch', 165079),
 (44, 'Little Women; Or, Meg, Jo, Beth, and Amy', 152480),
 (44, 'Moby Dick; Or, The Whale', 148386),
 (None, 'The Enchanted April', 147692),
 (44, 'The Blue Castle: a novel', 147236),
 (None, 'Cranford', 143503),
 (None, 'The Complete Works of William Shakespeare', 141886),
 (None, 'The Adventures of Ferdinand Count Fathom — Complete', 141299),
 (None, 'The Expedition of Humphry Clinker', 139335),
 (None, 'The Adventures of Roderick Random', 137522),
 (None, 'History of Tom Jones, a Foundling', 131062),
 (None, 'Twenty Years After', 128560),
 (None, 'Vingt ans après. English', 128560),
 (None, 'My Life — Volume 1', 128316),
 (None, 'Frankenstein; Or, The Modern Prometheus', 75145),
 (None, 'Pride and Prejudice', 68103),
 (None, 'Alice in Wonderland', 31948),
 (None, "Alice's Adventures in Wonderland", 31948),
 (44, 'The Great Gatsby', 25354),
 (44, 'The Yellow Wallpaper', 24783),
 (None, 'The Picture of Dorian Gray', 24444),
 (None, 'A Tale of Two Cities', 23126),
 (None, "A Doll's House : a play", 22238)]

#### Querying an Author

In our analysis, we intend to have the model attempt to learn to detect different writers for based on their style of writing; in order to do this, we need a good sample of writers for each subject.

In [8]:
topAuthors = [s for s in cache.native_query(
    "SELECT a.authorid, a.name, count(a.bookid) as book_count from \
    (SELECT * from authors \
    LEFT JOIN book_authors \
    ON id = authorid) as a \
    LEFT JOIN \
    (SELECT * FROM books \
    WHERE languageid = 1) as b \
    ON b.id = a.bookid \
    GROUP BY a.id, a.name \
    HAVING book_count >= 5 \
    ORDER BY book_count DESC;")]

# We have an 80 / 20 rule for sampling; at least 10 passages per author, and 
# Note this is the authors with the most books, not the authors with most downloads
# Furthermore, there are many repeats in the list of authors; Shakespeare appears 3 times, Jules Verne 4
pd.DataFrame(topAuthors).to_csv("top_authors.csv")

# TODO:
# 1 ) Write Sampling Scheme At most 1 hour
# np.random.choice() #What is n? How many authors?

# 2 ) SQL CODE to then generate new 

# 3 ) Combine and consolidate text: Half a day
# Topics
# Authors
# Book Title
# Line Numbers
# And Text

# 4 ) Consolidate and split to train / test

# Bonus: Find better metadata

Notes:
 * No anonymous / (Various) / etc.
 * Key identifiers such as character names e.g. Captain Ahab

Filter for English Authors with enough books to sample
random subset of 5 works
10 samples from each work, 50 lines each
 * Each book has at min 500 lines
 * Every author has 2500 Lines

How many authors?

Issues:
Herman Melville's Moby Dick

Post Sampling:
* Text processing (removing punctuation)
    * Keep punctuation in one dataset -> We want punctuation for tet generation?
    * Strip from the other (learning language, classification, etc.) -> reduce number of tokens

.pkl (pickle)

In [9]:
cache  = GutenbergCache.get_cache()
# Get all English authors with at least 5 books
engAuthors = [s for s in cache.native_query("SELECT a.id, a.name\
    FROM authors a\
    JOIN book_authors ba ON a.id = ba.authorid\
    JOIN books b ON ba.bookid = b.id\
    WHERE b.languageid = 1 AND a.name NOT IN ('Anonymous', 'Various')\
    GROUP BY a.id, a.name \
    HAVING COUNT(b.id) >= 5\
    ORDER BY a.name;")]

engAuthors

[(24076, 'A Square'),
 (3758, 'A. L. O. E.'),
 (14741, 'A.E.'),
 (3756, 'A.L.O.E.'),
 (14738, 'AE'),
 (10528, 'Abbot, Willis J. (Willis John)'),
 (10525, 'Abbot, Willis John'),
 (24077, 'Abbott, E. A. (Edwin Abbott)'),
 (24078, 'Abbott, Edwin A. (Edwin Abbott)'),
 (24079, 'Abbott, Edwin Abbott'),
 (3185, 'Abbott, Eleanor Hallowell'),
 (3301, 'Abbott, Henry'),
 (5197, 'Abbott, Jacob'),
 (14425, 'Abbott, Jane'),
 (5201, 'Abbott, John S. C. (John Stevens Cabot)'),
 (5200, 'Abbott, John Stevens Cabot'),
 (10527, 'Abbott, Willis J.'),
 (10526, 'Abbott, Willis John'),
 (12239, 'Abdul-Baha'),
 (7639, 'Abernathy, Robert'),
 (7638, 'Abernathy, Robert Harwood'),
 (23085, 'Accum, Frederick'),
 (23084, 'Accum, Fredrick'),
 (23086, 'Accum, Friedrich Christian'),
 (4399, 'Acton, John Emerich Edward Dalberg Acton, Baron'),
 (4398, 'Acton, Lord'),
 (5423, 'Adair, Cecil'),
 (15674, 'Adams, Andy'),
 (20026, 'Adams, C. F. (Charles Francis)'),
 (1402, "Adams, Capt. 'Bruin'"),
 (20027, 'Adams, Charles F. (Charles Francis)'),
 (20028, 'Adams, Charles Francis'),
 (16672, 'Adams, F. Colburn (Francis Colburn)'),
 (16671, 'Adams, Francis Colburn'),
 (1146, 'Adams, Harrison'),
 (1352, 'Adams, Henry'),
 (1351, 'Adams, Henry Brooks'),
 (1400, 'Adams, J. F. C. (James Fenimore Cooper)'),
 (1401, 'Adams, James Fenimore Cooper'),
 (18601, 'Adams, James R.'),
 (2937, 'Adams, Samuel Hopkins'),
 (16890, 'Adams, W. H. Davenport (William Henry Davenport)'),
 (16889, 'Adams, W.H.'),
 (16888, 'Adams, William Henry Davenport'),
 (1536, 'Adams, William T. (William Taylor)'),
 (1537, 'Adams, William Taylor'),
 (23124, 'Addams, Jane'),
 (23123, 'Addams, Laura Jane'),
 (5540, 'Addison, Joseph'),
 (6512, 'Ade, George'),
 (27461, 'Adler, Felix'),
 (8252, 'Administration, Work Projects'),
 (2096, 'Aeschylus'),
 (3296, 'Aesop'),
 (4016, 'Agency, United States. Central Intelligence'),
 (7262, 'Aguilar, Grace'),
 (18296, 'Aiken, Albert W.'),
 (18545, 'Aikin, Anna Laetitia'),
 (18544, 'Aikin, Anna Lætitia'),
 (14550, 'Aikin, Lucy'),
 (1375, 'Aimard, Gustave'),
 (3777, 'Ainsworth, Harrison'),
 (3776, 'Ainsworth, W. H. (William Harrison)'),
 (3775, 'Ainsworth, W. Harrison (William Harrison)'),
 (3780, 'Ainsworth, William Harrison'),
 (3778, 'Ainworth, W. Harrison (William Harrison)'),
 (2092, 'Aischylos'),
 (325, 'Akers, Floyd'),
 (10389, 'Alcofrybas, Maistre'),
 (2425, 'Alcott, L. M. (Louisa May)'),
 (2424, 'Alcott, Louisa M. (Louisa May)'),
 (2426, 'Alcott, Louisa May'),
 (2223, 'Alcott, William A. (William Andrus)'),
 (2222, 'Alcott, William Andrus'),
 (1160, 'Alden, Isabella Macdonald'),
 (1161, 'Alden, Mrs. G. R. (Isabella)'),
 (13632, 'Alden, W. L. (William Livingston)'),
 (13630, 'Alden, William Livingston'),
 (7226, 'Alderson, Amelia'),
 (8731, 'Aldington, Hilda Doolittle'),
 (7734, 'Aldon, Adair'),
 (1517, 'Aldrich, T. B. (Thomas Bailey)'),
 (1518, 'Aldrich, Thomas Bailey'),
 (23923, 'Aldridge, Janet'),
 (19407, 'Alec-Tweedie, E. (Ethel)'),
 (19409, 'Alec-Tweedie, Mrs. (Ethel)'),
 (1440, 'Alexander, John'),
 (6224, 'Alexander, Mrs.'),
 (29, 'Alger, Horatio'),
 (30, 'Alger, Horatio, Jr.'),
 (3429, 'Ali Baba'),
 (1071, 'Alighieri, Dante'),
 (13722, 'Allain, Marcel'),
 (265, 'Allen County (Ind.). Public Library of Fort Wayne and Allen County'),
 (1652, 'Allen, Captain Quincy'),
 (6865, 'Allen, Charles Grant Blairfindie'),
 (6866, 'Allen, Grant'),
 (6323, 'Allen, James Lane'),
 (1653, 'Allen, Quincy'),
 (17671, 'Allen, Willis Boyd'),
 (16095, 'Allies, T. W. (Thomas William)'),
 (16094, 'Allies, Thomas W.'),
 (16093, 'Allies, Thomas William'),
 (8735, 'Alton, Delia'),
 (3562, 'Altsheler, J. A. (Joseph Alexander)'),
 (3563, 'Altsheler, Joseph A. (Joseph Alexander)'),
 (3561, 'Altsheler, Joseph Alexander'),
 (414, 'Alvarez, Ticul'),
 (21817, 'American Anti-Slavery Society'),
 (4464, 'American National Red Cross'),
 (6610, 'American School at Armour Institute of Technology'),
 (6611, 'American School of Correspondence'),
 (3586, 'American Thread Co.'),
 (3588, 'American Thread Company'),
 (25691, 'Ames, Azel'),
 (5518, 'Amichis, Edmondo de'),
 (5517, 'Amicis, Edmondo de'),
 (5519, 'Amicis, Edmundo de'),
 (6252, 'Andersen Nexø, Martin'),
 (2970, 'Andersen, H. C. (Hans Christian)'),
 (2969, 'Andersen, Hans Christian'),
 (6251, 'Andersen, Martin'),
 (6241, "Anderson, J. C. O'Gorman, Mrs."),
 (6816, 'Anderson, Poul'),
 (6810, 'Anderson, Poul William'),
 (16853, 'Anderson, Sherwood'),
 (19573, 'Anderson, Sydney'),
 (6397, 'Andreev, Leonid Nikolaevich'),
 (13870, 'Andrews, Elisha Benjamin'),
 (3760, 'Andrews, H. C. (Henry Charles)'),
 (3761, 'Andrews, Henry C.'),
 (3759, 'Andrews, Henry Charles'),
 (3762, 'Andrews, Henry Cranke, active 1799-1828'),
 (1116, 'Andrews, Mary Raymond Shipman'),
 (23125, 'Andrews, William'),
 (6398, 'Andreyev, Leonid'),
 (6396, 'Andreyev, Leonid Nikolayevich'),
 (5734, 'Annaeus Seneca, Lucius'),
 (17470, 'Annas, Hal'),
 (9908, "Annunzio, Gabriele d'"),
 (125, 'Anonyme'),
 (126, 'Anonymous, Anonymous'),
 (2057, 'Anstey, F.'),
 (5777, 'Antoninus, Marcus Aurelius'),
 (4280, 'Antony, Father'),
 (21745, 'Apikuni'),
 (2026, 'Appleton, Victor'),
 (26549, 'Aquinas, Thomas, Saint'),
 (1564, 'Archer, William'),
 (5049, 'Archette, Guy'),
 (2831, 'Aristofanes'),
 (2832, 'Aristophanes'),
 (1904, 'Aristoteles'),
 (1905, 'Aristotle'),
 (2830, 'Aristófanes'),
 (6609, 'Armour Institute of Technology. American School of Correspondence'),
 (15418, 'Arnim, Elizabeth von'),
 (15417, 'Arnim-Schlagenthin, Countess Elizabeth von'),
 (4546, 'Arnold, Mary Augusta'),
 (9621, 'Arnold, Matthew'),
 (2443, 'Arouet, Francois Marie'),
 (2442, 'Arouet, François Marie'),
 (3046, 'Arthur, T. S. (Timothy Shay)'),
 (3043, 'Arthur, Timothy Shay'),
 (10679, 'Arundel, Louis'),
 (8728, 'Ashton, John'),
 (4233, 'Ashton, Winifred'),
 (19190, 'Asimov, Isaac'),
 (7148, 'Atheling, William'),
 (1958, 'Atherton, Gertrude Franklin Horn'),
 (124, 'Atkinson, William Walker'),
 (2433, "Aubigné, J. H. Merle d' (Jean Henri Merle)"),
 (3796, 'Audubon, Jean Jacques Fougere'),
 (3794, 'Audubon, Jean Jacques Fougère'),
 (3797, 'Audubon, John James'),
 (8110, 'Auerbach, Berthold'),
 (1174, 'Augustine, Mildred'),
 (6480, 'Augustine, Saint'),
 (6481, 'Augustine, Saint, Bishop of Hippo'),
 (9163, 'Aunt Ella'),
 (2516, 'Aunt Fanny'),
 (27877, "Aunt Fanny's daughter"),
 (770, 'Aunt Hattie'),
 (5776, 'Aurel, Marc'),
 (5778, 'Aurelius, Marcus'),
 (5036, 'Austen, Jane'),
 (4612, 'Austin, Mary'),
 (4611, 'Austin, Mary Hunter'),
 (3107, 'Avery, Al'),
 (32563, 'Avery, Harold'),
 (6779, 'Aycock, Roger D.'),
 (6852, 'Babcock, Winnifred Eaton'),
 (16009, 'Bacheller, Addison Irving'),
 (16010, 'Bacheller, Irving'),
 (21240, 'Bacon, Francis'),
 (8955, 'Bacon, Josephine Daskam'),
 (8953, 'Bacon, Josephine Dodge Daskam'),
 (8954, 'Bacon, Selden, Mrs.'),
 (7781,
  'Baden-Powell of Gilwell, Robert Stephenson Smyth Baden-Powell, Baron'),
 (7780, 'Baden-Powell, Baron Robert Stephenson Smyth'),
 (7779, 'Baden-Powell, R. S. S.'),
 (7778, 'Baden-Powell, Robert'),
 (6706, 'Badger, Jos. E. (Joseph Edward)'),
 (6704, 'Badger, Joseph E.'),
 (6703, 'Badger, Joseph Edward'),
 (13297, 'Bagwell, Richard'),
 (19543, "Baha'u'llah"),
 (19544, "Bahá'u'lláh"),
 (205, 'Bailey, Arthur Scott'),
 (12575, 'Bailey, Carolyn Sherwin'),
 (12506, 'Bailey, Frederick Augustus Washington'),
 (6064, 'Bailey, Irene Temple'),
 (4358, 'Bailey, L. H. (Liberty Hyde)'),
 (4356, 'Bailey, Liberty Hyde'),
 (6065, 'Bailey, Temple'),
 (3003, 'Bain, F. W. (Francis William)'),
 (3002, 'Bain, Francis William'),
 (341, 'Baker, Frank'),
 (11372, 'Baker, G. M. (George Melville)'),
 (11373, 'Baker, George M. (George Melville)'),
 (11371, 'Baker, George Melville'),
 (771, 'Baker, Harriette Newell Woods'),
 (14759, 'Baker, Ida Constance'),
 (11783, 'Baker, Rollin H. (Rollin Harold)'),
 (19834, 'Baker, Samuel White, Sir'),
 (1630, 'Baker, Willard F.'),
 (8107, 'Baldwin, Edward'),
 (2996, 'Baldwin, James'),
 (30493, 'Ball, Robert S. (Robert Stawell)'),
 (30492, 'Ball, Robert Stawell, Sir'),
 (2221, 'Ballantyne, R. M. (Robert Michael)'),
 (2220, 'Ballantyne, Robert Michael'),
 (458, 'Ballou, M. M. (Maturin Murray)'),
 (460, 'Ballou, Maturin M. (Maturin Murray)'),
 (459, 'Ballou, Maturin Murray'),
 (15013, 'Balmer, Edwin'),
 (8619, 'Balwhidder, Micah'),
 (12507, 'Baly, Frederick Augustus Washington'),
 (586, 'Balzac, H. de (Honoré de)'),
 (583, 'Balzac, Honore de'),
 (587, 'Balzac, Honoré de'),
 (5676, 'Bamberger, Hermann'),
 (7527, 'Bancroft, Hubert Howe'),
 (322, 'Bancroft, Laura'),
 (5718, 'Bandelier, A. F. (Adolph Francis)'),
 (5719, 'Bandelier, Adolf F.'),
 (5720, 'Bandelier, Adolph F. (Adolph Francis)'),
 (5727, 'Bandelier, Adolph Francis Alphonse'),
 (461, 'Bangs, John Kendrick'),
 (21487, 'Banta, Frank'),
 (940, 'Barbara'),
 (18543, 'Barbauld, A. L. (Anna Letitia)'),
 (18546, 'Barbauld, Anna Laetitia'),
 (18542, 'Barbauld, Anna Letitia'),
 (18541, 'Barbauld, Anna Lætitia'),
 (18548, 'Barbauld, Mrs. (Anna Letitia)'),
 (2143, 'Barbee, Phillip'),
 (2140, 'Barbee, Phillips'),
 (3407, 'Barbour, R. H. (Ralph Henry)'),
 (3408, 'Barbour, Ralph Henry'),
 (17335, 'Barca, Pedro Calderon de la'),
 (17334, 'Barca, Pedro Calderón de la'),
 (2237, 'Barclay, Florence L. (Florence Louisa)'),
 (2235, 'Barclay, Florence Louisa (Charlesworth), Mrs.'),
 (25687, 'Barham, G. Basil (George Basil)'),
 (25685, 'Barham, George Basil'),
 (12399, 'Baring, Maurice'),
 (1980, 'Baring-Gould, S. (Sabine)'),
 (1977, 'Baring-Gould, Sabine'),
 (13864, 'Barlow, Roger'),
 (2423, 'Barnard, A. M.'),
 (10899, 'Barnivelt, Esdras'),
 (3914, 'Barnum, Richard'),
 (14494, 'Barnum, Vance'),
 (2171, 'Baroja, Pio'),
 (2173, 'Baroja, Pío'),
 (5642, 'Barr, Amelia E.'),
 (5641, 'Barr, Amelia Edith Huddleston'),
 (9403, 'Barr, Robert'),
 (5247, 'Barrett-Browning, Elizabeth'),
 (1822, 'Barrie, J. M. (James Matthew)'),
 (1821, 'Barrie, J.M.'),
 (1820, 'Barrie, James Matthew'),
 (8155, 'Barrington, E.'),
 (17987, 'Barrington, Richard Manliffe'),
 (2517, 'Barrow, Frances Elizabeth'),
 (27876, 'Barrow, S. L. (Sarah L.)'),
 (27878, 'Barrow, Sarah L.'),
 (936, 'Barstow, Montagu, Mrs.'),
 (12138, 'Bartlett, F. O. (Frederick Orin)'),
 (12139, 'Bartlett, Frederick Orin'),
 (13755, 'Bartlett, Paul Alexander'),
 (21782, 'Barton, W. E. (William Eleazar)'),
 (21786, 'Barton, William E. (William Eleazar)'),
 (21783, 'Barton, William Eleazar'),
 (8109, 'Baruch, Moses'),
 (2111, 'Bashford, H. H. (Henry Howarth), Sir'),
 (2109, 'Bashford, Henry'),
 (2110, 'Bashford, Henry Howarth, Sir'),
 (8477, 'Bassett, Sara Ware'),
 (4745, 'Bassetto, Corno di'),
 (3704, 'Bastiat, Claude Frédéric'),
 (3703, 'Bastiat, Frederic'),
 (3705, 'Bastiat, Frédéric'),
 (11132, 'Bates, Arlo'),
 (7456, 'Bates, Gordon'),
 (3666, 'Baudelaire, Charles'),
 (3662, 'Baudelaire-Dufays, Charles Pierre'),
 (3661, 'Baudelaire-Dufaÿs, Charles Pierre'),
 (330, 'Baum, L. Frank (Lyman Frank)'),
 (323, 'Baum, Lyman Frank'),
 (377, 'Baxter, R. (Richard)'),
 (378, 'Baxter, Richard'),
 (4980, 'Bayly, Ada Ellen'),
 (8841, 'Bazin, Rene'),
 (8842, 'Bazin, René'),
 (155, 'Bazán, Emilia Pardo, condesa de'),
 (156, 'Bazán, Emilia, condesa de Pardo'),
 (963, 'Beach, Charles Amory'),
 (683, 'Beach, Rex'),
 (682, 'Beach, Rex Ellingwood'),
 (3167, 'Beamont, Francis'),
 (14736, 'Beard, Adelia B. (Adelia Belle)'),
 (14735, 'Beard, Adelia Belle'),
 (5202, 'Beard, D. C. (Daniel Carter)'),
 (5203, 'Beard, Dan'),
 (5204, 'Beard, Daniel Carter'),
 (14737, 'Beard, Lina'),
 (1810, 'Beauchamp, Kathleen M. (Kathleen Mansfield)'),
 (15416, 'Beauchamp, Mary Annette'),
 (3170, 'Beaumont, Francis'),
 (8156, 'Beck, Eliza Louisa Moresby'),
 (8157, 'Beck, L. Adams (Lily Adams)'),
 (8154, 'Beck, Lily Moresby Adams'),
 (332, 'Becke, George Louis'),
 (333, 'Becke, Louis'),
 (21093, 'Beckford, John'),
 (21094, 'Beckford, William'),
 (10402, 'Beddington, Ada Esther'),
 (439, 'Bedford-Jones, H. (Henry)'),
 (436, "Bedford-Jones, Henry James O'Brien"),
 (12178, 'Beebe, Rachel'),
 (20275, 'Beecher, C. E. (Catherine Esther)'),
 (20276, 'Beecher, Catharine E.'),
 (20277, 'Beecher, Catharine Esther'),
 (20274, 'Beecher, Catherine E. (Catherine Esther)'),
 (10513, 'Beerbohm, Henry Maximilian, Sir'),
 (10514, 'Beerbohm, Max, Sir'),
 (8788, 'Beers, Henry A. (Henry Augustin)'),
 (8787, 'Beers, Henry Augustin'),
 (9392, 'Beethoven, L. van (Ludwig)'),
 (9393, 'Beethoven, Ludwig van'),
 (9390, 'Beethoven, Ludwig von'),
 (11331, 'Behn, Afra'),
 (11329, 'Behn, Anne'),
 (11332, 'Behn, Aphara'),
 (11335, 'Behn, Aphra'),
 (11328, 'Behn, Aphra Amis'),
 (11333, 'Behn, Ayfara'),
 (2073, 'Beith, Ian Hay'),
 (2072, 'Beith, John Hay'),
 (1406, 'Belknap, B. H. (Boynton H.)'),
 (1405, 'Belknap, Boynton H.'),
 (11791, 'Bell, Clive'),
 (8163, 'Bell, Currer'),
 (12438, 'Bell, Lilian'),
 (946, 'Bellamy, Edward'),
 (145, 'Belloc, H.'),
 (146, 'Belloc, Hilaire'),
 (144, 'Belloc, Joseph Hilaire Pierre'),
 (4877, 'Belloc, M. A. (Marie Adelaide)'),
 (4876, 'Belloc, Marie Adelaide'),
 (4875, 'Belloc-Lowndes, Marie Adelaide'),
 (3790, 'Belloni du Chaillu, Paul'),
 (11986, 'Bennet, Robert Ames'),
 (4486, 'Bennett, Arnold'),
 (4485, 'Bennett, E. Arnold'),
 (4484, 'Bennett, Enoch Arnold'),
 (8920, 'Benson, A. C. (Arthur Christopher)'),
 (8922, 'Benson, Arthur Christopher'),
 (16123, 'Benson, E. F. (Edward Frederic)'),
 (16122, 'Benson, Edward F. (Edward Frederic)'),
 (16121, 'Benson, Edward Frederic'),
 (1173, 'Benson, Mildred Wirt'),
 (1175, 'Benson, Millie'),
 (12170, 'Benson, R. H. (Robert Hugh)'),
 (12171, 'Benson, Robert Hugh'),
 (6242, 'Benson, Stella'),
 (4008, 'Bensusan, S. L. (Samuel Levy)'),
 (4007, 'Bensusan, Samuel Levy'),
 (1092, 'Benton, Caroline French'),
 (6724, 'Bentzan, Thérèse'),
 (6727, 'Bentzon, Th.'),
 (6726, 'Bentzon, Theodore'),
 (6725, 'Bentzon, Théodore'),
 (6723, 'Bentzon, Thérèse'),
 (5107, 'Beresford, J. D. (John Davys)'),
 (5106, 'Beresford, John Davys'),
 (836, 'Bergson, H. (Henri)'),
 (837, 'Bergson, Henri'),
 (835, 'Bergson, Henri Louis'),
 (32050, 'Berkeley, George'),
 (32049, 'Berkley, George'),
 (9594, 'Bernard, Charles de'),
 (9592, 'Bernard-Dugrail, Charles de'),
 (1812, 'Berry, Matilda'),
 (12897, 'Berryman, John'),
 (1647, 'Besant, Annie'),
 (1645, 'Besant, Annie Wood'),
 (6088, 'Besant, Sir Walter'),
 (6090, 'Besant, Walter'),
 (12057, 'Beston, Henry'),
 (12055, 'Beston, Henry B.'),
 (30225, 'Betham-Edwards, Matilda'),
 (30224, 'Betham-Edwards, Matilda Barbara'),
 (29527, 'Beveridge, Albert J. (Albert Jeremiah)'),
 (29526, 'Beveridge, Albert Jeremiah'),
 (44, 'Beyle, Marie Henri'),
 (11330, 'Bhen, A. (Aphra)'),
 (20283, 'Bichat, F.-X. (François-Xavier)'),
 (20282, 'Bichat, Marie Francois Xavier'),
 (20281, 'Bichat, Marie François Xavier'),
 (20284, 'Bichat, X. (Xavier)'),
 (20285, 'Bichat, Xavier'),
 (5536, 'Bickerstaff, Isaac'),
 (1056, 'Bierce, Ambrose'),
 (30776, 'Biggs, Charlotte'),
 (30775, 'Biggs, R. C. (Rachel Charlotte)'),
 (30774, 'Biggs, Rachel Charlotte Williams'),
 (2396, 'Bindloss, Harold'),
 (27235, 'Birch, Wilhelmine'),
 (3254, 'Bird, Isabella L. (Isabella Lucy)'),
 (8585, 'Bird, R. M. (Robert Montgomery)'),
 (8586, 'Bird, Robert M. (Robert Montgomery)'),
 (8588, 'Bird, Robert Montgomery'),
 (25399, 'Birmingham, G. A. (George A.)'),
 (25401, 'Birmingham, George A.'),
 (4476, 'Birrell, Augustine'),
 (3253, 'Bishop, Isabella Bird'),
 (3252, 'Bishop, Isabella Lucy Bird'),
 (895, 'Bixby, Drexel Jerome Lewis'),
 (893, 'Bixby, Jay Lewis'),
 (900, 'Bixby, Jerome'),
 (894, 'Bixby, Jerry'),
 (18, 'Bjornson, Bjornstjerne'),
 (17, 'Björnson, Björnstjerne'),
 (19, 'Bjørnson, Bjørnstjerne'),
 (9861, 'Black, William'),
 (20741, 'Blackburn, Henry'),
 (7950, 'Blackie & Son'),
 (7948, 'Blackie and Son'),
 (3627, 'Blackmore, R. D. (Richard Doddridge)'),
 (3626, 'Blackmore, Richard Doddridge'),
 (6701, 'Blackwood, Algernon'),
 (9656, 'Blade, Alexander'),
 (22014, 'Blaikie, W. G. (William Garden)'),
 (22015, 'Blaikie, William Garden'),
 (17539, 'Blake, W. (William)'),
 (17540, 'Blake, William'),
 (6722, 'Blanc, Marie Therese de Soloms'),
 (6721, 'Blanc, Marie Thérèse de Soloms'),
 (3638, 'Blanc, Maurice le'),
 (18439, 'Blanchan, Neltje'),
 (9162, 'Blanchard, Amy E. (Amy Ella)'),
 (9165, 'Blanchard, Amy Ella'),
 (18438, 'Blanchon, Neltje'),
 (3327, 'Bland, Edith Nesbit'),
 (620, 'Blasco Ibanez, Vicente'),
 (621, 'Blasco Ibáñez, Vicente'),
 (10539, 'Blavatski, H. P.'),
 (10540, 'Blavatski, Yelena Petrovna'),
 (10542, 'Blavatsky, H. P. (Helena Petrovna)'),
 (10538, 'Blavatsky, Helena Petrovna'),
 (7150, 'Blish, James'),
 (7149, 'Blish, James Benjamin'),
 (16381, 'Blodgett, Levi'),
 (28640, 'Bloomfield, Robert'),
 (4113, 'Blouet, Leon Paul'),
 (3268, 'Bloundelle-Burton, J. (John)'),
 (3269, 'Bloundelle-Burton, John'),
 (4114, 'Blouët, Léon Paul'),
 (4112, 'Blouët, Paul'),
 (5848, 'Blunt, Wilfrid Scawen'),
 (502, 'Bly, Nellie'),
 (8254, 'Boccaccio, Giovanni'),
 (1662, 'Bodenheim, Maxwell'),
 (1661, 'Bodenheimer, Maxwell'),
 (12437, 'Bogue, Lilian Lida Bell'),
 (20706, 'Bois, W. E. B. Du'),
 (20709, 'Bois, W. E. Burghardt Du'),
 (20710, 'Bois, William Edward Burghardt Du'),
 (1364, 'Boissevain, Edna St. Vincent Millay'),
 (23494, 'Bok, Edward William'),
 (5395, 'Boldrewood, Rolf'),
 (8158, 'Bolton, Mrs. C. E.'),
 (8159, 'Bolton, Sarah K.'),
 (8160, 'Bolton, Sarah Knowles'),
 (4190, 'Bond, Nelson'),
 (4192, 'Bond, Nelson S.'),
 (4189, 'Bond, Nelson Slade'),
 (11093, 'Bone, J. F. (Jesse Franklin)'),
 (11092, 'Bone, J.F.'),
 (11094, 'Bone, Jesse F. (Jesse Franklin)'),
 (11091, 'Bone, Jesse Franklin'),
 (2197, 'Bonehill, Captain Ralph'),
 (2196, 'Bonehill, Ralph'),
 (14168, 'Bonnell, Jerry T.'),
 (7584, 'Bonner, Geraldine'),
 (618, 'Bonner, Richard'),
 (779, 'Boothby, Guy'),
 (778, 'Boothby, Guy Newell'),
 (7080, 'Borrow, George'),
 (7079, 'Borrow, George Henry'),
 (12812, 'Bosher, Kate Langley'),
 (12527, 'Boston, Ralph'),
 (13115, 'Boswell, James'),
 (239, 'Bouquet, Johnny'),
 (2579, 'Bourget, Charles Joseph Paul'),
 (2580, 'Bourget, Paul'),
 (2578, 'Bourget, Paul Charles Joseph'),
 (7077, 'Bourinot, J. G. (John George)'),
 (7078, 'Bourinot, John George'),
 (4760, 'Bourke, John G. (John Gregory)'),
 (4761, 'Bourke, John Gregory'),
 (27580, 'Bourne, Randolph S.'),
 (27581, 'Bourne, Randolph Silliman'),
 (3954, 'Bourrienne, Louis Antoine Fauvelet de'),
 (1811, 'Bowden, Kathleen'),
 (11424, 'Bowen, Marjorie'),
 (12803, 'Bowen, R. Sidney'),
 (12806, 'Bowen, Robert Sidney'),
 (12805, 'Bowen, Robert Sydney'),
 (2317, 'Bower, B. M.'),
 (1363, 'Boyd, Nancy'),
 (20029, 'Boyesen, Hjalmar H.'),
 (20030, 'Boyesen, Hjalmar Hjorth'),
 (11380, 'Boyle, Mary Louisa'),
 (13417, 'Boylston, Peter'),
 (401, 'Boz'),
 (26707, 'Bracebridge, Samuel'),
 (3042, 'Brackett, Leigh'),
 (3040, 'Brackett, Leigh Douglass'),
 (5063, 'Bradbury, Ray'),
 (5062, 'Bradbury, Raymond Douglas'),
 (3879, 'Braddon, M. E. (Mary Elizabeth)'),
 (3878, 'Braddon, Mary E.'),
 (3874, 'Braddon, Mary Elizabeth'),
 (26330, 'Braden, James A. (James Andrew)'),
 (26329, 'Braden, James Andrew'),
 (15508, 'Bradlaugh, C. (Charles)'),
 (15510, 'Bradlaugh, Charles'),
 (5898, 'Bradley, Marion Zimmer'),
 (7451, 'Brady, Cyrus Townsend'),
 (7611, 'Braeme, Charlotte Monica'),
 (9735, 'Bramah, Ernest'),
 (7614, 'Brame, Charlotte M.'),
 (7613, 'Brame, Charlotte Mary'),
 (11720, 'Branch, Stephen'),
 (2793, 'Branchardiere, Eleonore Riego de la'),
 (2789, 'Branchardière, Eléonore Riego de la'),
 (3267, 'Brand, Max'),
 (3828, 'Brandeis, Madeline'),
 (1622, 'Brandes, G. (Georg)'),
 (1624, 'Brandes, Georg'),
 (1621, 'Brandes, Georg Morris Cohen'),
 (1623, 'Brandes, George'),
 (4753, 'Brazil, Angela'),
 (17670, 'Brebner, Percy James'),
 (8496, 'Breck, John'),
 (23619, 'Breckenridge, Gerald'),
 (23618, 'Breckinridge, Gerald'),
 (3876, 'Breddon, Miss'),
 (4316, 'Breese, William Lleywelyn, Mrs.'),
 (4315, 'Breese, William Llywelyn, Mrs.'),
 (6635, 'Brehm, A. E. (Alfred Edmund)'),
 (6636, 'Brehm, Alfred Edmund'),
 (23617, 'Breitgam, Gerald H.'),
 (8714, 'Breitman, Hans'),
 (8713, 'Breitmann, Hans'),
 (3514, 'Brereton, F. S. (Frederick Sadleir)'),
 (3513, 'Brereton, Frederick Sadleir'),

In [10]:
# Count the number of authors in engAuthors
num_authors = len(engAuthors)
# Print the result
print(f"There are {num_authors} English authors >=5 works in the dataset.")

There are 4868 English authors >=5 works in the dataset.

In [11]:
# def get_works(engAuthors):
#     query2 = """
#         SELECT b.authorid, a.name, s.gutenbergbookid, t.name
#         FROM titles t
#
#         LEFT JOIN books s
#         ON s.id = t.bookid
#         LEFT JOIN book_authors b
#         ON b.bookid = s.id
#         LEFT JOIN authors a
#         ON b.authorid = a.id
#
#
#         WHERE b.authorid = {}
#     """
#
#     cursor = cache.native_query(query2)
#     gutenbergbookids = []
#     for row in cursor:
#         gutenbergbookids.append(row[2])
#     return gutenbergbookids

In [12]:
# for authorid in engAuthors:
#     gutenbergbooks = get_works(authorid)
#     print(gutenbergbooks)

In [13]:
engAuthor_ids = [str(a[0]) for a in engAuthors]
query = """
    SELECT a.id AS author_id, a.name AS author_name, b.id AS book_id, t.name AS book_title
    FROM authors a
    JOIN book_authors ba ON a.id = ba.authorid
    JOIN books b ON ba.bookid = b.id
    JOIN titles t ON t.bookid = b.id
    WHERE b.languageid = 1 AND a.name NOT IN ('Anonymous', 'Various') AND a.id IN ({})
    ORDER BY a.name, b.id
""".format(','.join(engAuthor_ids))

results = cache.native_query(query)
df = pd.DataFrame(results, columns=["author_id", "author_name", "book_id", "book_title"])
df

,author_id,author_name,book_id,book_title
0,24076,A Square,24287,How to Write Clearly: Rules and Exercises on E...
1,24076,A Square,35549,Silanus the Christian
2,24076,A Square,43047,Flatland: A Romance of Many Dimensions
3,24076,A Square,52765,Onesimus: Memoirs of a Disciple of St. Paul
4,24076,A Square,58073,Flatland: A Romance of Many Dimensions
...,...,...,...,...
89604,1427,孫子,23449,Sunzi bing fa. English
89605,1427,孫子,23449,The Art of War
89606,1427,孫子,33602,Sunzi bing fa. English
89607,1427,孫子,33602,The Art of War
89608,1427,孫子,45699,Sun Tzŭ on the Art of War: The Oldest Military...

In [14]:
num_books_per_author = 5
random_seed = 42

df_sampled = df.groupby("author_id", group_keys=False).apply(lambda x: x.sample(n=min(len(x), num_books_per_author), random_state=random_seed))
df_sampled

,author_id,author_name,book_id,book_title
80263,1,Verschillende,6193,"The Southern Literary Messenger, Vol. II., No...."
80686,1,Verschillende,14077,"Harper's Young People, January 17, 1882\nAn Il..."
80920,1,Verschillende,18579,"The American Missionary — Volume 39, No. 07, J..."
82528,1,Verschillende,51235,"Punch, Or The London Charivari, Volume 102, Ma..."
82890,1,Verschillende,58800,"Encyclopaedia Britannica, 11th Edition, 'Cinci..."
...,...,...,...,...
66640,45848,"Sherman, Francis",63980,In Memorabilia Mortis
66641,45848,"Sherman, Francis",64864,A Canadian Calendar: 12 Lyrics
66645,45848,"Sherman, Francis",68572,A Prelude
66642,45848,"Sherman, Francis",64864,A Canadian Calendar: Twelve Lyrics
66644,45848,"Sherman, Francis",65615,The Deserted City

In [15]:
book_texts = {}  # create an empty dictionary to store the book texts
for index, row in df_sampled.iterrows():
    book_id = row["book_id"]
    book_text = gutenbergpy.textget.get_text_by_id(book_id)
    book_texts[book_id] = book_text

TypeError: exceptions must derive from BaseException

In [ ]:
id = df_sampled["book_id"].tolist()
id

In [ ]:


import random
import gutenbergpy
import gutenbergpy.textget
import nltk # To split the book by sentences



import pandas as pd
import gutenbergpy
import gutenbergpy.textget

id = df_sampled["book_id"].tolist()

def get_text(id):
    raw_book = gutenbergpy.textget.get_text_by_id(id)
    clean_book = gutenbergpy.textget.strip_headers(raw_book)
    return clean_book, raw_book

# Create an empty DataFrame with two columns: "book_id" and "text"

# Loop over book IDs and append their text data to the DataFrame


# def trim_book(clean_book, trim_pct=0.1):
#     lines = clean_book.strip().decode('utf-8').replace('\n', ' ')
#     n = len(lines)
#     start = n * trim_pct // 1
#     end = n * (1 - trim_pct) // 1
#     return lines[int(start):int(end)]
#
#
# def get_sample_sentences(trimmed):
#     sentences = nltk.sent_tokenize(trimmed)
#     non_empty_sentences = [s for s in sentences if s.strip()]
#     n = len(non_empty_sentences)
#     sample_sentences = random.sample(range(n), k=min(n, 10))
#     sample = [(i+1, non_empty_sentences[i]) for i in sample_sentences]
#     return sample

In [16]:
for i in id:
    gutenbergBooks = get_text(i)
    print(gutenbergBooks)

TypeError: 'builtin_function_or_method' object is not iterable

In [18]:

# # Get all English authors with at least 5 books
# engAuthors = [s for s in cache.native_query("SELECT a.id, a.name\
#     FROM authors a\
#     JOIN book_authors ba ON a.id = ba.authorid\
#     JOIN books b ON ba.bookid = b.id\
#     WHERE b.languageid = 1\
#     GROUP BY a.id, a.name \
#     HAVING COUNT(b.id) >= 3\
#     ORDER BY a.name;")]
#
# engAuthors
# num_authors = len(engAuthors)
# num_authors

In [19]:
# # For each engauthor, get a random subset of 5 works
# for author in engAuthors:
#     # Get the author name
#     author_name = author[0]
#
#     # Get all works by the author
#     works = [s for s in cache.native_query(f"SELECT a.name\
#     FROM authors a\
#     JOIN book_authors ba ON a.id = ba.authorid\
#     JOIN books b ON ba.bookid = b.id\
#     WHERE b.languageid = 1 AND a.name NOT IN ('Anonymous', 'Various')\
#     GROUP BY a.name\
#     HAVING COUNT(DISTINCT b.id) >= 5")]
#
#     # Get a random subset of 5 works
#     subset = random.sample(works, min(len(works), 5))
#
#     # Print the result
#     print(works)
#     print (subset)
#     print(f"{author_name}: {subset}")

In [20]:
# import random
# from gutenbergpy.gutenbergcache import GutenbergCache
#
# cache = GutenbergCache.get_cache()
#
# # Get English authors with at least 5 distinct works
# eng_authors = [author[0] for author in cache.native_query("SELECT a.name\
# FROM authors a\
# JOIN book_authors ba ON a.id = ba.authorid\
# JOIN books b ON ba.bookid = b.id\
# WHERE b.languageid = 1 AND a.name NOT IN ('Anonymous', 'Various')\
# GROUP BY a.name\
# HAVING COUNT(DISTINCT b.id) >= 5")]
#
# # Get a random subset of 5 works for each author
# author_works = {}
# for author in eng_authors:
#     works = [work[0] for work in cache.native_query(f"""
#     SELECT t.name
#     FROM titles t
#     JOIN books b ON t.bookid = b.id
#     JOIN book_authors ba ON b.id = ba.bookid
#     JOIN authors a ON a.id = ba.authorid
#     WHERE a.name = '{author}' AND b.languageid = 1
#     """)]
#     random_works = random.sample(works, 5)
#     author_works[author] = random_works
#
#
# # Print the random works for each author
# for author, works in author_works.items():
#     print(f'{author}:')
#     for work in works:
#         print(f'  - {work}')
#     print()